@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  color: #fff;
  font-family: Poppins;
}

/* background */
.homeBg {
  background: var(
    --pp3-background,
    linear-gradient(113deg, #984d38 -30.3%, #181e41 58.12%)
  );
}

.navItems li:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1.name {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  font-family: "Playfair Display", serif;
}

h2.section2 {
  color: #fff;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 90px */
  letter-spacing: 0.3px;
}

h4.text {
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 36px */
  letter-spacing: 0.3px;
}

.beth {
  width: 320px;
}

.img2 {
  width: 340px;
  border-radius: 0px 300px 300px 300px;
  background: #c4c4c4;
}

hr {
  width: 1197.004px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
