@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  color: #fff;
  font-family: Poppins;
}

/* background */
.homeBg {
  background: var(
    --pp3-background,
    linear-gradient(113deg, #984d38 -30.3%, #181e41 58.12%)
  );
}

.navItems li:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

a:hover {
  color: #7e696b;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1.name {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  font-family: "Playfair Display", serif;
}

h2.content {
  color: #fff;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 90px */
  letter-spacing: 0.3px;
}

h4.content {
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 36px */
  letter-spacing: 0.3px;
}
h5.content {
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
}

h5.content .beth {
  width: 320px;
}

.img2 {
  width: 340px;
  border-radius: 0px 300px 300px 300px;
  background: #c4c4c4;
}

hr {
  width: 100vw;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}

.box {
  border-radius: 25px;
  /* width: 380px;
  height: 120px; */
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--half-white, rgba(255, 255, 255, 0.5));
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.box:hover {
  color: black;
  background: var(--half-white, rgb(255, 249, 249));
  box-shadow: 0px 10px 4px 0px rgba(81, 51, 61, 0.25);
}

img.icons {
  width: 60px;
  height: 60px;
}
